<h1>Whack-a-mole!
  <span class="score">{{score}}</span>
</h1>
<app-start-game (startGame)="startGame($event)"></app-start-game>

<div class="container mt-3" *ngIf="showGame">
  <div class="row justify-content-center">
    <div class="col-3" *ngFor="let item of totalQuantity;let index=index">
      <app-mole [id]="index" (bonk)="onBonk()"></app-mole>
    </div>
  </div>
</div>
