<div class="container">
  <h2>Number of mole</h2>
  <div class="d-flex">
    <input class="input-gradient" type="number" [formControl]="inputQuantity">
    <button class="btn-gradient" (click)="onStartGame()">Start!</button>
  </div>
</div>
