.hole {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 160px;
}

.hole:after {
  display: block;
  background: url("src/assets/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.mole {
  background: url("src/assets/mole.svg") bottom center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  cursor: pointer;
}

.hole.up .mole {
  top: 0;
}

/*  */
