html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8cee6e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  line-height: 1;
}
